/*document css*/

*{
				text-decoration: none;
				
}

body{
				box-sizing: border-box;
				font-family: Helvetica;
				background-color: #fff4ff;
}
.principal{
		color: black;
		font-size: large;
}

.conteudo-prin{
		color: black;
}

.cabecalho{
		display: flex;
		flex-direction: row;
		align-items: rigth;
		justify-content: space-around;
		padding: 2px;
		/*border-bottom: 0.4px solid black;*/
}


}
.botao{
		padding: 10px;
		text-align: center;
		
}

nhc{
		padding: 0px 10px;
}

.nhc2{
		
		color: withe;
		font-size: 18px;
		padding: 10px;
		margin: 10px;
}

.menu{
		position: absolute;
		right: 10px;
		display: flex;
		gap: 10px;
		color: black;
}

.menui{
		display: flex;
		gap: 48px;
}

.nossahistoria{
		border-top: 0.4px solid gray;
		padding-top: 0px 15px;
}

.botao{
		align-items: center;
}

.corprin{
		background-color:  #ffdefe;
}
